* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    margin-left: 16px;
    align-items: center;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    background-color: white;
}
header h1 {
    position: relative;

}
header nav {
    display: flex;
    justify-content: center;
    gap: 38px;
}

header nav a {
    color: black;
    outline: none;
    text-decoration: none;
}
header select {
    outline: none;
    border: none;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.search-form {
    display: flex;
    align-items: center;
}


.search-input {
    height: 45px;
    width: 230px;
}

.search-button {
    height: 45px;
    width: 45px;
    background-color: #4a1d1f;
    color: #FBEDCD;
}

.header-icons {
    align-items: center;
    gap: 15px;
    margin-left: 50px;
    margin-right: 35px;
}

.first {
    display: flex;
    height: 100vh;
    background: linear-gradient(to bottom right, #FFFFFF, #FBEDCD); 
       
}

.order-section {
    padding-left: 100px;
    padding-top: 75px;
    font-size: larger;
    width: 50%;
    text-align: start;
}

.order-section h1 {
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: xx-large
}

.order-section h3 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
   font-size: medium;

}

.order-button {
    
    margin-top: 25px;
    height: 34px;
    width: 150px;
    background-color: black;
    color: #FBEDCD;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 4px;
}

.menu-button {
    width: 186px;
    height: 34px;
    color: black;
    background-color: transparent;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 4px;
}


.img-container {
    margin-top: 100px;
    margin-left: 250px;
}
.img-retangle {
    width: 965px;
    height: 201px;
    border-top-left-radius: 100.5px;
    border-bottom-left-radius: 100.5px;
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.6); /* Branco com 60% de opacidade */
    display: flex;
    justify-content: flex-end; /* Empurra as imagens para o final */
    align-items: center; /* Alinha verticalmente */
    overflow: hidden;
    gap: 15px;

}
.img-retangle h5 {
    margin-right: 75px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;

}
.img-retangle img {
    width: 230px;
    height: 129px;
    border-radius: 18px;
}

.creation-section {
    background: linear-gradient(to bottom, #FBEDCD, #FFFFFF);
    align-items: center;
    
}
.creation-container {
    padding-top: 2px;
    display: grid;
    grid-template-columns: 1fr 1px 1fr; /* Linha no meio */
    grid-template-rows: 130px;
    justify-content: center;
    background: linear-gradient(to bottom, #FBEDCD, #FFFFFF);
    align-items: center;
    transition: background 1s ease-in-out; /* Transição suave de cor */
}
.creation-container h2 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    align-self: center;

}

.creation-container .line {
    background-color: black; /* Cor da linha */
    width: 100%; /* Ou o tamanho que quiser */
    justify-self: center; /* Centraliza a linha no grid */
    height: 100%;
}
.creation-container p {
    width: 673px;
    text-align: center;
    align-self: center;
}

.image-slider {
    margin-top: 150px;
}

.slider {
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    flex-wrap: nowrap;
    gap: 80px;

}

.image-slider img {
    width: 231px;
    height: 231px;
    
    border-radius: 33px;
    scroll-snap-align: center;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating i {
    color: gold; /* Estrelas douradas */
    font-size: 18px; /* Tamanho das estrelas */
}

.rating text {
    color: #707070;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    
}
.button-container {
    display: flex;
    justify-content: center;
}

.view-button {
    margin-top: 150px;
    width: 202px;
    height: 50px;
    align-self: center;
    background-color: transparent;
    color: #4a1d1f;
}


body {
  text-align: center;
  color: #272727;
  font-family: "Poppins", serif;
  font-style: normal;
}

.section3 {
  margin: 50px;
}

.fresh {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
}

.section3 h3 {
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  margin-top: 3%;
}

.section3 p {
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.6em;
  margin-bottom: 50px;
}

.section3 img {
  padding: 0 10px;
  width: 100%;
}

.section3 a {
  text-decoration: none;
  color: #4A1D1F;
  font-size: 1.3em;
}

#arrow {
  width: 50px;
}

.section3 button {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
}

.favourite {
  clear: both;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;margin-top: 10%;
}

.section4 {
  clear: both;
  margin: 50px 0;
  padding: 70px;
  background-color: #FBEDCD;
}

.section4 h3 {
  font-weight: 700;
  font-size: 2em;
}

.section4 p {
  margin-top: 15px;
  color: #272727;
  font-weight: 400;
  font-size: 1.5em;
}

.section4 button {
  margin-top: 15px;
  background-color: #4A1D1F;
  color: #FBEDCD;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-size: 1em;
  padding: 15px 25px;
}

.section5 {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 50px 16%;
}

.section5 label {
  background-color: #FBEDCD;
  color: #3c1b1f;
  border-radius: 15px;
  padding: 5px;
  font-size: 0.5em;
  margin-bottom: 10px;
}

.quote {
  font-size: 2em;
  font-weight: 600;
  position: relative;
}

#doublequote1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  z-index: 0;
}

.quote p {
  padding: 15px;
  z-index: 3;
  position: relative;
  line-height: 1.2;
  font-size: 1.5em;
}

#doublequote2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  z-index: 0;
}

.darren {
  margin-top: 50px;
  margin-bottom:20px;
}

#name{
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.dots {
  margin: 25px;
  margin-bottom: 0;
}

.dots img {
  margin: 5px;
}

footer {
  background-color: #FBEDCD;
}

.footer1 {
  padding: 60px 80px 30px 80px;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.footer1 h4 {
  font-size: 1.5em;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1.5px;
}

.footer1 nav {
  display: grid;
  grid-auto-flow: column;
}

.footer1 nav a {
  color: #272727;
}

hr {
  border: none;
  height: 1px;
  background-color: #272727;
}

.footer2 {
  padding: 60px 80px 100px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer2 p {
  text-align: left;
  font-size: 0.9em;
  font-weight: 300;
}

.logos {
  display: grid;
  text-align: right;
  grid-auto-flow: column;
  padding-left: 50%;
}